body {
    background-image: url(./view.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

h2, p {
    color: #072200;
    text-align: center;
    border: 5px solid #0A2F00;
    cursor: pointer;
}


p {
    color: #C19986;
    text-decoration: underline;
    line-height: 30px;
    font-style: italic;
    font-weight: bold;
    font-size: 110%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about {
    font-family: 'Bungee Spice', sans-serif;
    text-decoration: none;
    background-color: rgba(127, 255, 212, 0.1);
}

li {
    list-style: none;
    display: inline;
    color: coral;
}

.webtext:first-child {
   border: 5px dashed green  
}

#div1 {
    background-color: rgba(118, 118, 227,0.2);
}

#div2 {
    background:  rgba(174, 196, 102, 0.2);
}
